@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&display=swap');
:root{
    --light-orange: #072A40;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    background-color: #ace0f9; 
}

.logo{
    color: #072A40;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    margin-left: 5%;
    letter-spacing: 5px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #072A40;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
.nav-links .about, .skills, .projects{
    transform: translateY(15%);
}
.nav-links .about a::before{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
    top: 25px;
    transition: 0.3s ease-in;
}
.nav-links .about a:hover::before{
    width: 100%;
}
.nav-links .skills a::before{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
    top: 25px;
    transition: 0.3s ease-in;
}
.nav-links .skills a:hover::before{
    width: 100%;
}
.nav-links .projects a::before{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
    top: 25px;
    transition: 0.3s ease-in;
}
.nav-links .projects a:hover::before{
    width: 100%;
}
.nav-links .contact{
    border: 1px solid #072A40;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
.nav-links .contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #2098D1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
  }
  .nav-links .contact:hover {
    color: white;
  }
  .nav-links .contact:hover:before {
    transform: scaleX(1);
  }
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #072A40;
    margin: 5px;
    transition: all 0.3s ease;
}
/* @media screen and (max-width: 1100px){
    .nav-links{
        width: 60%;
    }
} */
@media screen and (max-width: 1100px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 10vh;
        background-color: #072A40;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
        background-color: #fff1eb;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        position: relative;
        right: 3%;
    }
    .sec-4{
        display: flex;
        align-items: center;
    }
    .sec-4 p{
        width: 90%;
    }
}
.nav-links.active{
    transform: translateX(0%);
}
@keyframes navlinksFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2{
    opacity: 0;
}
.toggle .line-3{
    transform: rotate(+45deg) translate(-5px, -6px);
}




.sec-1{
    font-family: 'Poppins', sans-serif;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.sec-1 h1{
    font-size: 7vw;
    color: #072A40;
}
@media screen and (min-width: 700px){
    .sec-1 h1{
        font-size: 3em;
    }
}
.sec-1 p{
    width: 90%;
    max-width: 800px;
    position: relative;
    top: 7vh;

}
.content{
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn{
    position: relative;
    top: 15vh;
}
.btn button{
    /* padding: 10px 20px;
    background-color: #fff1eb;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    overflow: hidden;
    border: 1px #072A40 solid;
    margin: 0px 7px; */


   cursor: pointer;
  font: 1em Arial, sans-serif;
  display: inline-block;
  padding: 10px 25px;margin: 10px;
  text-decoration: none;
  color: #072A40;
  border: 1px solid #072A40;
  /* Set up the hover */
  /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
  background-image: linear-gradient(#072A40, #072A40), linear-gradient(#fff1eb, #fff1eb);
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .2s ease-out;
}
.btn button:hover{
  color: #fff;
  background-size: 100% 100%, auto;
}




/* section number two */
.sec-2{
    height: 70vh;
    background-color: #fff1eb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "whoiam vector";
    font-family: 'Poppins', sans-serif;
}
.whoiam{
    grid-area: whoiam;
}
.whoiam h1{
    margin-top: 1rem;
    color: #072A40;
}
.vector{
    grid-area: vector;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vector img{

    width: 86%;
    position: absolute;
}
.whoiam{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #072A40;;
    justify-content: center;
}
.whoiam p{
    width: 90%;
    max-width: 800px;
    padding-top: 10%;
}
@media screen and (max-width: 600px){
    .sec-2{
         grid-template-rows: 1fr 1fr ; 
         grid-template-columns: 1fr;
         grid-template-areas: 
         "whoiam"
         "vector";
    }
    .vector img{
        width: 80%;
        position: absolute;
    }
}


/* section number three */
.sec-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
}
.sec-3 h1{
    text-align: center;
    position: absolute;
    top: 1rem;
    color: #072A40;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #fff1eb;
    color: #072A40s;
    border-radius: 20px;
    cursor: pointer;
}
.main:hover{
    background-color: rgb(36, 160, 238);
    color: white;
    transition: 0.3s ;
}
.main .project{
    width: 300px;
}
.project img{
    width: 100%;
    height: auto;
}
.project p{
    padding: 10px;
}
.project-info h2{
    text-align: center;
}
.sec-4{
    font-family: 'Poppins', sans-serif;
    height: 80vh;
    background-color: #ace0f9; 
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.sec-4 h1{
    margin-top: 2rem;
    color: #072A40;
}
.sec-4 p{
    color: #072A40;
}
.sec-4 .form{
    display: flex;
    flex-direction: column;
}
.form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form input{
    padding: 1rem ;
    width: 30rem;
    border-radius: 10px;
    border: none;
    margin: 1.5rem 0rem;
}
input[type=text] {
    height: auto;
    word-wrap: normal;
}
.sec-4 button{
    padding: 1rem 0rem;
    width: 30rem;
    background-color: #fff1eb;
    border: none;
    cursor: pointer;
    margin: 1.5rem 0rem;
}
@media screen and (max-width: 1100px){
    .form input{
        width: 90%;
    }
    .form button{
        width: 90%;
    }
}
.sec-5{
    height: 8vh;
    background-color: #072A40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 2rem;
}
.sec-5 i{
    color: white;
}
